@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext');

$base-font: 'Roboto', sans-serif;
$base-font-size: 62.5%;

//Colors - Indian Palette
$color-body: #2C3A47;
$color-font: #EFEFEF;
$color-font-form: #333;

$color-bgc-header: #FD7272;
$color-font-header: #EFEFEF;
$color-bgc-form: #CAD3C8;