.calendar {
    
    .row {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-header {
 
        align-items: center;
        margin-bottom: 2rem;

        select {
            background-color: $color-bgc-header;
            color: $color-font-header;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 3rem;
            padding: 1.6rem;
            border-radius: 2rem;
            text-align: center;

            &:not(:last-child) {
                margin-right: 1rem;
                min-width: 20rem;    
            }
        }
    }

    &__table {
        
        td {
            display: block;
            background-color: #fff;
            width: 15rem;
            height: 15rem;
        }
    }
}